<div class="container">
  <p class="text-muted" title="<%= footer+' ©‎ '.html_safe+version%>"><%= footer %>&nbsp;&#169;&nbsp;<label style="font-size: 8px;" title="<%= version%>"><%= version%></label></p>
</div>